.nav {
    border-bottom: 1px solid #E0E0E0;
    background-color: #f0f0f0;
    user-select: none;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-item {
    height: 50px;
}

.nav-left {
    display: flex;
}

.nav-logo {
    height: 40px;
    margin: 5px;
}

.nav-title {
    height: 30px;
    font-size: 30px;
    margin: 5px;
}

.nav-right {
    display: flex;
    flex: 2;
    justify-content: right;
    line-height: 50px;
}

.manage {
    color: orange;
}

.avatar {
    border-radius: 50%;
}

.nickname {
    margin-left: 8px;
}

.user {
    margin: 0 20px;
}

.create-project-box {
    padding: 0 20px;
    background-color: #6974f5;
    color: white;
}

.create-project-box.hover {
    filter: brightness(1.1);
}

.create-project-box.firm {
    filter: brightness(0.9);
}

.create-project-box img {
    margin-left: 8px;
    filter: invert(1);
}